.custom-header {
  display: flex;
  flex-direction: row;
  align-items: middle;
  justify-content: space-between;
  padding: 0 32px;
  max-width: 1192px;
  margin: 40px auto;
}

.heading-top-button {
  padding: 5px 16px;
  border: 1px solid #858d90;
  border-radius: 36px;
}
.search-icon {
  align-self: center;
  width: 20px;
  height: 20px;
}

/*
@media screen and (max-width: 1250px) {
  .custom-header {
    padding: 0px 1rem;
  }
}
*/
